*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
	transition-property: color;

	scrollbar-color: var(--sb-thumb) var(--sb-track);
	scrollbar-width: thin;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms;
		animation-iteration-count: 1;
		transition-duration: 0.01ms;
		scroll-behavior: auto;
	}
}

button,
input,
select,
textarea {
	font: inherit;
	color: inherit;
}

img,
picture,
video,
iframe,
svg {
	display: block;
	max-width: 100%;
	height: auto;
	font-style: italic; /* alt text */
	font-size: unset;
	border: 0;
}

:focus-visible {
	outline: 2px solid var(--color-info-500);
	outline-offset: 2px;
}

:focus:not(:focus-visible) {
	outline-color: transparent;
}

/* Generic container */
.wrapper {
	width: min(100% - var(--space-4), var(--container-max));
	margin-inline: auto;
}

html {
	font-size: 62.5%; /* 62.5% of 16px = 10px for REM calculations */
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

body {
	min-height: 100dvh;
	height: auto;
	overflow-y: auto;

	background-color: var(--bg-main);
	color: var(--text-main);

	font: var(--fw-regular) var(--fs-3) / var(--lh-3) var(--font-body);

	display: flex;
	flex-direction: column;
}

header {
	font-family: var(--font-head);
	display: flex;
}

nav {
	display: flex;
	align-items: center;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-head);
}

h1 {
	font-size: var(--fs-7);
	line-height: var(--lh-1);
	color: var(--h1-main);
}

h2 {
	font-size: var(--fs-6);
	line-height: var(--lh-1);
	color: var(--h2-main);
}

h3 {
	font-size: var(--fs-5);
	line-height: var(--lh-2);
	color: var(--h3-main);
}

h4 {
	font-size: var(--fs-4);
	line-height: var(--lh-2);
	color: var(--h4-main);
}

h3 {
	font-size: var(--fs-3);
	line-height: var(--lh-3);
	color: var(--h5-main);
}

section {
	/* Calculates inline padding */
	--gutter: calc((100% - var(--container-max)) / 2);

	/* if 100% < container-max then use --space-5 */
	padding-inline: max(var(--space-5), var(--gutter));
	padding-block: var(--space-5);

	> :where(h1, h2, h3, h4):first-child {
		margin-bottom: var(--space-4);
	}
}

.stack {
	display: flex;
	flex-direction: column;
	gap: var(--space-4);
}

ul {
	list-style: none;
	display: flex;

	li {
		text-decoration: none;
		display: inline-block;
	}
}

a {
	color: var(--link);
	text-decoration: underline;
	text-decoration-color: transparent;

	transition-property: text-decoration-color, opacity;

	text-underline-offset: 5px;

	&:hover,
	&:focus-visible {
		text-decoration-color: var(--link);
	}

	&:active {
		opacity: 0.7;
	}
}

hr {
	border: 1px solid var(--border-subtle);
}

button {
	border-radius: var(--radius);
	border: 0;
	font-weight: var(--fw-semibold);
	cursor: pointer;
	transition-property: transform, filter, box-shadow;

	&:hover {
		filter: var(--hover-main);
		transform: var(--scale-hover);
		box-shadow: var(--shadow-2);
	}

	&:active {
		transform: var(--scale-active);
	}
}
