@import "@fontsource/girassol/latin-400.css" layer(base);
@import "@fontsource/average/latin-400.css" layer(base);

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	transition-duration: var(--transition-duration-medium);
	transition-timing-function: var(--transition-easing);

	scrollbar-color: var(--sb-thumb) var(--sb-track);
	scrollbar-width: thin;
}

.interactive {
	--contrast-direction: sign(0.6 - l);

	--text-main: oklch(
		from var(--color-context) clamp(0, var(--contrast-direction), 1) 0 0
	);
	--text-mute: oklch(from var(--color-context) 0.5 c h);

	--border-brightness: calc(
		l +
		(var(--contrast-direction) * (var(--border-darkness)))
	);
	--border-color: oklch(
		from var(--color-context) clamp(0, var(--border-brightness), 1) c h
	);

	--hover-brightness: calc(
		l +
		(var(--contrast-direction) * var(--hover-degree))
	);
	--hover-color: oklch(
		from var(--color-context) clamp(0, var(--hover-brightness), 1) c h
	);

	background-color: var(--color-context);
	color: var(--text-main);

	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);

	box-shadow: var(--shadow-weak);
	transition-property: transform, background-color, box-shadow;

	&:hover {
		background-color: var(--hover-color);
		transform: var(--scale-hover);
		box-shadow: var(--shadow-strong);
	}

	&:active {
		transform: var(--scale-active);
	}

	/* GPU Optimisations */
	backface-visibility: hidden;
	perspective: 1000px;
	transform: translateZ(0);
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms;
		animation-iteration-count: 1;
		transition-duration: 0.01ms;
		scroll-behavior: auto;
	}
}

button,
input,
select,
textarea {
	font: inherit;
	color: inherit;
}

img,
picture,
video,
iframe,
svg {
	display: block;
	max-width: 100%;
	height: auto;
	font-style: italic; /* alt text */
	font-size: unset;
	border: 0;
}

:focus-visible {
	outline: 2px solid var(--color-status-info);
	outline-offset: 2px;
}

:focus:not(:focus-visible) {
	outline-color: transparent;
}

/* Generic container */
.wrapper {
	width: min(100% - var(--space-4), var(--container-max));
	margin-inline: auto;
}

html {
	font-size: 62.5%; /* 62.5% of 16px = 10px for REM calculations */
}

/* Loading animation before css properties load */
html:not(.document-loaded) body {
	background: #f0f0f0;

	&::before {
		content: "";
		position: fixed;
		width: 100vw;
		height: 100dvh;
		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 0.6) 50%,
			rgba(255, 255, 255, 0) 100%
		);
		background-size: 200% 100%;
		animation: shimmer 1.5s infinite;
		z-index: 9999;
	}
}

@keyframes shimmer {
	0% {
		background-position: -200% 0;
	}
	100% {
		background-position: 200% 0;
	}
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

body {
	min-height: 100dvh;
	height: auto;
	overflow-y: auto;

	color: var(--text-main);
	background-color: var(--bg-main);

	font: var(--fw-regular) var(--fs-3) / var(--lh-3) var(--font-body);
	font-display: swap; /* Lazy font loading */
	display: flex;
	flex-direction: column;
}

header {
	font-family: var(--font-head);
	display: flex;
}

nav {
	display: flex;
	align-items: center;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-head);
}

section {
	/* Calculates inline padding */
	--gutter: calc((100% - var(--container-max)) / 2);

	/* if 100% < container-max then use --space-5 */
	padding-inline: max(var(--space-5), var(--gutter));
	padding-block: var(--space-5);

	> :where(h1, h2, h3, h4):first-child {
		margin-bottom: var(--space-4);
	}

	> h1 {
		font-size: var(--fs-6);
		line-height: var(--lh-1);
	}
}

.stack {
	display: flex;
	flex-direction: column;
	gap: var(--space-4);
}

ul {
	list-style: none;
	display: flex;

	li {
		text-decoration: none;
		display: inline-block;
	}
}

a {
	color: var(--link);
	text-decoration: underline;
	text-decoration-color: transparent;

	transition-property: text-decoration-color, opacity;

	text-underline-offset: 5px;

	&:hover,
	&:focus-visible {
		text-decoration-color: var(--link);
	}

	&:active {
		opacity: 0.7;
	}
}

hr {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
}

button {
	border-radius: var(--border-radius);
	border: 0;
	font-weight: var(--fw-semibold);
	cursor: pointer;
}
